.jumbo{
    border-radius: 0px;
    background-image: url('./jumbotron.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    text-align: center; 
    color: #fff;
}

.display_text {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    backdrop-filter: blur(3px); 
}

.display_subtext {
    font-size: 1.25rem;
    font-weight: 300;
    backdrop-filter: blur(3px); 
}
.google{
    backdrop-filter: blur(3px);
}

.card{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-bottom: 40px;
}
.mobile_card{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    color: white;
    display: none;
    margin-bottom: 40px;
}
.card_img{
    width: 50%;
    text-align: center;
    max-height: 400px;
}
.card_content{
    width: 50%;
    text-align: center;
}

.card_title{
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.card_text{
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.2;
}

@media screen and (max-width: 768px) {
    .card_img{
        width: 100%;
        max-height: 200px;
    }
    .card_content{
        width: 100%;
    }
    .card{
        display: none;
    }
    .mobile_card{
        display: flex;
    }
}